*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background-color: rgb(27, 41, 54);
    font-family: sans-serif;
    font-weight: bold;

}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background-color: rgb(7, 20, 31);
}

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color: aliceblue;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 60px;
    transition-property: .5s;
    font-size: 18px;
}

.link a:hover{
    opacity: 1;
    color:rgb(217, 232, 245);
}

.home-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

.home-section{
    font-family: sans-serif;
    padding: 200px;
    width: auto;
    color: rgb(106, 123, 138);

}